<div class="col-md-4 pull-left">
    <div style="display: flex;">
        <img [src]="user.users[0].profilepicture" alt="Image Not Found!" 
            class="img-circle" style="max-width: 250px;margin: auto;" >
    </div>
<p></p>
    <div style="display: flex;">
        <h4 style="margin: auto; font-size: 25px;"> {{user.users[0].name}} </h4>
    </div>
<p></p>
    <div style="display: flex;">
       <h4 style="color: gray; margin-left:50px;"> Username : </h4>
        <h4> &nbsp; {{user.users[0].name}} </h4>
    </div>
<p></p>
    <div style="display: flex;">
       <h4 style="color: gray; margin-left:50px;"> E-Mail : </h4>
        <h4> &nbsp; {{user.users[0].email}} </h4>
    </div>
<p></p>
    <div style="display: flex;">
       <h4 style="color: gray; margin-left:50px;"> Phone : </h4>
        <h4> &nbsp; {{user.users[0].phone}} </h4>
    </div>
<p></p>
    <div style="display: flex;">
       <h4 style="color: gray; margin-left:50px;"> Website : </h4>
        <h4> &nbsp; {{user.users[0].website}} </h4>
    </div>
<hr style="height:1px;border-width:0;color:white;background-color:lightgray;margin:24px">
<div style="display: flex;">
    <h4 style="color: gray; margin:auto;"> Company </h4>
 </div>
 <p></p>
    <div style="display: flex;">
       <h4 style="color: gray; margin-left:50px;"> Name : </h4>
        <h4> &nbsp; {{user.users[0].company.name}} </h4>
    </div>
<p></p>
    <div style="display: flex;">
       <h4 style="color: gray; margin-left:50px;"> CatchPhrase: </h4>
        <h4 style="margin-left:5px;"> &nbsp; {{user.users[0].company.catchPhrase}} </h4>
    </div>
<p></p>
    <div style="display: flex;">
       <h4 style="color: gray; margin-left:50px;"> bs : </h4>
        <h4> &nbsp; {{user.users[0].company.bs}} </h4>
    </div>
<div class="vl"> </div>
</div>

<!-- Address -->

<div class="col-md-4">
        <div style="display: flex;">
        <h4 style="color: gray; margin-left:50px;"> Address: </h4>
        </div>
    <p></p>
        <div style="display: flex;">
        <h4 style="color: gray; margin-left:80px;"> Street : </h4>
            <h4> &nbsp; {{user.users[0].address.street}} </h4>
        </div>
    <p></p>
        <div style="display: flex;">
        <h4 style="color: gray; margin-left:80px;"> Suite : </h4>
            <h4> &nbsp; {{user.users[0].address.suite}} </h4>
        </div>
    <p></p>
        <div style="display: flex;">
        <h4 style="color: gray; margin-left:80px;"> City : </h4>
            <h4> &nbsp; {{user.users[0].address.city}} </h4>
        </div>
    <p></p>
        <div style="display: flex;">
        <h4 style="color: gray; margin-left:80px;"> ZipCode : </h4>
            <h4> &nbsp; {{user.users[0].address.zipcode}} </h4>
        </div>
    <p></p>
    <div style="display: flex;">
        <img src="../../../assets/map.png" alt="Map Not Found!" 
           style="width: 80vh; margin: auto; border-radius:5%;" class="responsive">
    </div>
    <div style="display: flex;" class="pull-right">
        <p style="color: gray;">Lat:</p>
        <p> {{user.users[0].address.geo.lat}} </p>
        &nbsp; &nbsp;
        <p style="color: gray;">Long:</p>
        <p> {{user.users[0].address.geo.lng}} </p>

    </div>
</div>
