<div class="main">
    <div class="center">
        <div class="panel-heading">
            <h4 style="text-align: center;">Select Account</h4>
            <hr style="height:1px;border-width:0;color:gray;background-color:gray">
        </div>
        <div class="row">
                    <div  *ngFor="let user of usersData.users">
                        <a style="cursor: pointer;" class="list-group-item clearfix" 
                        routerLink="/home/profile" >
                            <div class="pull-left col-xs-20">
                                <img [src]="user.profilepicture" alt="Image Not Found" class="img-circle"> 
                            </div>
                            <div class="pull-right col-md-10">
                                <b>  {{user.name}} </b>
                            </div>
                        </a>
                    </div>
        </div>
    </div>
</div>