  .sidebar{
    margin: auto;
    margin-top: 50px;
    margin-left: 50px;
    padding: 10px;
    border-radius: 25px;
    /* border: 2px solid DodgerBlue; */
    padding: 20px; 
    width: 300px;
    height: 850px;  
    float: left;
    background-color: hsl(0, 0%, 94%);
    box-shadow: black;
    background-color: blue; /* For browsers that do not support gradients */
    background-image: linear-gradient( blue, purple);
    position: relative;
    z-index: 1;
  }

  .active:focus{
    outline:none;
  }

  #content{
      margin-top:200px;
     z-index: 1;
     

  }

  .profile, .galary , .todo , .posts{
      color: gainsboro;
      cursor: pointer;
      font-family: fantasy;
  }

  .profile:hover,.todo:hover,.posts:hover,.galary:hover{
      color:white;
  }
#active{
    float:right;
    
}

.content{
    margin: 80px;
    
}

.profile-image{
    max-width: 50px;
    height: 50px;

}

.name{
    margin: 10px 2px 2px;
    float: right;
}

.singout{
    margin-top: -30px;
    margin-left: -390px;
    padding: 10px;
    border-radius: 25px;
    padding: 20px; 
    border:1px solid white;
    width: 350px;
    height: 430px;  
    float: right;
    background-color: hsl(0, 0%, 94%);
    box-shadow:20px 20px 50px grey;
    position: absolute;
    z-index: 92;

}

.chat{
    bottom: 0;
    left: 1;
    margin-top:-410px;
    margin-right:20px;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px; 
    border:1px solid white;
    width: 350px;
    height: 430px;  
    float: right;
    background-color: hsl(0, 0%, 94%);
    box-shadow:20px 20px 50px grey;
    z-index: 90;
    position: relative;
    /* overflow: auto; */
    border-color:blue;
    z-index: 5;
}

.chat-list{
    width: 330px;
    height: 360px; 
    overflow: auto;
    margin-left:-10px;
    z-index: 0;
}

.chat-button{
    bottom: 0;
    left: 1;
    margin-right:20px;
    border-radius: 10px;
    width: 350px;
    height: 40px;  
    float: right;
    background-color:blue;
    border:1px solid white;
    z-index: 90;
    position: relative;
    color: white;
    text-align: start;
    font-size: 2vh;
    outline: none;

}

.chat-header{
    background-color: blue;
    width:350px;
    color: white; 
    height: 50px;
    margin-top: -20px;
    margin-left:-20px;
    padding:20px;
    z-index: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    cursor: pointer;

}

.circle-online{
    background: green;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: 100px;
    margin-top:20px;
}

.circle-offline{
    background: lightgray;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: 100px;
    margin-top:20px;
}
/* width */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 20px;
  }
  
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: lightgrey; 
  }