<div class="row">
    <div class="sidebar pull-left">
        <div class="col-md-15" id="content">
            <h3 class="profile" (click)="onActiveProfile(0,'Profile')" > Profile 
                <i class="fa fa-chevron-right" *ngIf="active[0]" id="active"></i>
            </h3>
            <hr>
            <h3 class="galary" (click)="onActive(1,'Galary')" routerLink = "galary"  routerLinkActive="active"> Galary 
                <i class="fa fa-chevron-right" *ngIf="active[1]" id="active"></i>
            </h3>
            <hr>
            <h3 class="posts" (click)="onActive(2,'Posts')" [routerLink] = "['posts']" routerLinkActive="active"> Posts 
                <i class="fa fa-chevron-right" *ngIf="active[2]" id="active"></i>
            </h3>
            <hr>
            <h3 class="todo" (click)="onActive(3,'ToDo')" [routerLink] = "['todo']" routerLinkActive="active"> ToDo    
                <i class="fa fa-chevron-right" *ngIf="active[3]" id="active"></i>
            </h3>
        </div>
    </div>

    <div class="col-md">
        <div class="content">
            <b style="font-size: x-large; margin: 15px;" class="pull-left"> {{title}} </b>

            <div class="pull-right" style="cursor: pointer;" (click)="onProfile()" #toggleButton>
                <img [src]="user.profilepicture" alt="Image Not Found" class="img-circle profile-image">
                <h4 class="name">{{user.name}}</h4>
            </div>
        </div>
        <P></P>
    <br> <br>
    <hr style="height:1px;border-width:0;color:white;background-color:lightgray;margin:24px">
    </div>

    <!-- SignOut Form  -->
    <div class=" col-md pull-right">
        <div class="singout" *ngIf="singoutFormActive" #isOpen style="overflow: auto;">
            <div style="display: flex;">
            <img [src]="user.profilepicture" alt="Image Not Found" class="img-circle" style="max-width: 130px; height: 80px; margin: auto;margin-top:2px ;">
            </div>
            <br>
            <div class="col-xs" style="display: flex;">
                <h4 style="margin: auto;"> {{user.name}} </h4>
            </div>
            <p></p>
            <div class="col-xs" style="display: flex;">
                <h4 style="margin: auto; color: gray;"> {{user.email}} </h4>
            </div>
        <hr style="height:1px;border-width:0;color:white;background-color:lightgray;margin:24px">
            <div class="col-xs" style="display: flex; cursor: pointer;" (click)="onNextUser1()">
                <img [src]="users[nextUserID].profilepicture" alt="Image Not Found" class="img-circle" style="max-width: 50px; height: 40px;"> &nbsp; &nbsp;
                <h4 class="pull-left"> {{users[nextUserID].name}} </h4>
            </div>
        <hr style="height:1px;border-width:0;color:white;background-color:lightgray;margin:24px">
            <div class="col-xs" style="display: flex; cursor: pointer;" (click)="onNextUser2()">
                <img [src]="users[nextUserID2].profilepicture" alt="Image Not Found" class="img-circle" style="max-width: 50px;height: 40px;"> &nbsp; &nbsp;
                <h4 class="pull-left"> {{users[nextUserID2].name}} </h4>
            </div>
            <br>
            <div style="display: flex;">
                <button class="btn btn-danger" style="margin: auto;" routerLink="">Sign Out</button>
            </div>
        </div>
       
    </div>
    
    <router-outlet></router-outlet>
    
    <!-- Chat box  -->
    <div class="col-xs pull-right" >
        <button type="button" class="chat-button" (click)="onChat()" *ngIf="!chatOpen"> 
            <i class='fa fa-comment-o'></i>
            Chats 
            <i class="fa fa-angle-up" style="margin-left:230px;"></i> 
         </button>
        <div class="chat" *ngIf="chatOpen">
            <h3 class="chat-header">Chats</h3>
            <div class="chat-list">
                <ul class="list-group list-group-flush" >
                    <li class="list-group-item" style="display: flex;" *ngFor="let user of users">
                        <img [src]="user.profilepicture" alt="Imge Not Found" class="img-circle" style="max-width: 20%; height: 50px;">
                        <p style="margin-left:10px; margin-top:10px"> {{user.name}} </p>
                    </li>
                    
                </ul>
            </div>
            
        </div>

    </div>
    
</div>
